html, body {
	color: white;
}
h3, .state_button{
	text-transform: uppercase;
	font-weight: bold;
}


/***Information For the Full Page***/
.full_page{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center;
	background-size: cover;
	background-image: url('windmill-background-wave.jpg')
}
.full_page .header {
	margin-top: 2%;
	height: 17%;
}
.full_page .header #timer {
	position:relative;
	width: 18%;
	height: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: 5%;
	background-position: center;
	background-size: 100% 100%;
	background-image: url('networks_logo.png');
}
.full_page .payload{
	position: relative;
	clear:both;
	height: 80%;
}
/*End of Full Page*/


/***Styling Information for the Shaded Area on the Right Side***/
.full_page .payload .box_right{
	position: relative;
	margin-right: 3%;
	float: right;
	width: 40%;
	text-align: center;
	background-image: url('transparency.png');
	height: 80%;
}

.box_right .state_button{
	position: relative;
	height: 20%;
	width: 60%;
	margin-bottom: 10%;
	background-position: center;
	background-size: 100% 100%;
	background-color: #87CEEB;
}
.box_right #information{
	position: relative;
	height: 100%;
	width: 90%;
	overflow: visible;
}
.information {
	font-size: 1.25em;
}
/*End of Right Side*/


/***Styling Information for the Shaded Area on the Left Side***/
.full_page .payload .box_left{
	position: relative;
	margin-left: 3%;
	float: left;
	width: 40%;
	text-align: center;
	background-image: url('transparency.png');
	height: 80%;
}
.box_left #variables {
	position: relative;
	height: 85%;
	width: 95%;
	margin-left:2.5%;
}
.box_left #variables #names {
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	overflow: visible;
	border-right: 1px solid black;
}
.box_left #variables #values_red{
	position: absolute;
	top: 0;
	left: 25%;
	width: 30%;
	height: 100%;
	overflow: visible;
	border-right: 1px solid black;
}
.box_left #variables #values_green{
	position: absolute;
	top: 0;
	left: 55%;
	width: 30%;
	height: 100%;
	overflow: visible;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.box_left #variables #values_numbers{
	position: absolute;
	top: 0;
	right: 0;
	width: 13%;
	height: 100%;
	text-align:left;
	overflow: visible;

}

.barcharts div, .barcharts_r div{
	height: 1.5em;
	margin-top: 0.8em;
	
}
/**Information Specific to the Green and Red Bar Charts**/
#values_green div{
	width: 50%;
	background-image: url("bar_green.png");
	background-size: 100% 100%;
}
#values_red div{
	float: right;
	clear: both;
	width: 50%;
	background-image: url("bar_red.png");
	background-size: 100% 100%;
}
#values_red div.zero, #values_green div.zero {
	width:0%;
}
#values_red div.zero_five, #values_green div.zero_five {
	width:5%;
}
#values_red div.one,#values_green div.one {
	width: 10%;
}
#values_red li div.one_five,#values_green  div.one_five {
	width: 15%;
}
#values_red  div.two,#values_green  div.two {
	width: 20%;
}
#values_red  div.two_five,#values_green  div.two_five {
	width: 25%;
}
#values_red  div.three,#values_green  div.three {
	width: 30%;
}
#values_red  div.three_five,#values_green  div.three_five {
	width: 35%;
}
#values_red  div.four,#values_green  div.four {
	width: 40%;
}
#values_red  div.four_five,#values_green  div.four_five {
	width: 45%;
}
#values_red  div.five,#values_green  div.five {
	width: 50%;
}
#values_red  div.five_five,#values_green  div.five_five {
	width: 55%;
}
#values_red  div.six,#values_green  div.six {
	width: 60%;
}
#values_red  div.six_five,#values_green  div.six_five {
	width: 65%;
}
#values_red  div.seven,#values_green  div.seven {
	width: 70%;
}
#values_red  div.seven_five,#values_green  div.seven_five {
	width: 75%;
}
#values_red  div.eight,#values_green  div.eight {
	width: 80%;
}
#values_red  div.eight_five,#values_green  div.eight_five {
	width: 85%;
}
#values_red  div.nine,#values_green  div.nine {
	width: 95%;
}
#values_red  div.nine_five,#values_green  div.nine_five {
	width: 90%;
}
#values_red  div.ten,#values_green  div.ten {
	width: 100%;
}
/*End of Left Side */






